<div class="cube">
    <img class="cube" src="/static/assets/{{imageUrl}}">
    <p class="name">{{name}}</p>
    <p><span>Price:</span> {{price}}</p>
    <a class="btn" href="/details/{{id}}">Details</a>
</div>